<div class="row" ng-controller="MyMessageSentDetailCtrl">
    <div class="col-lg-12">
        <div class="hpanel email-compose">
            <div class="border-top border-left border-right bg-light">
                <div class="p-m">

                    <div>
                        <span class="font-extra-bold">主题: </span>
                        xxx主题
                    </div>
                    <div>
                        <span class="font-extra-bold">来自: </span>
                        <a href="#">市级管理部门</a>
                    </div>
                    <div>
                        <span class="font-extra-bold">日期: </span>
                        2017-08-20, 09:23:12
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <h4>标题</h4>

                    <p>这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容这是一个内容</p>

                    <p>
                    </p>
                </div>
            </div>

            <div class="panel-footer text-right">
                <div class="btn-group">
                    <a ui-sref="myMessage.unReadMessageReply" class="btn btn-default"><i class="fa fa-reply"></i> 回复</a>
                    <button class="btn btn-default"><i class="fa fa-trash-o"></i> 删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
