<div class="row">
    <div class="col-lg-6 col-md-12" id="box">
        <form class="form-horizontal" name="IntegratedAdd" ng-submit="submit()">
            <div class="form-group">
                <label class="col-sm-4 control-label">学科类别</label>
                <div class="col-sm-8">
                    <yunzhi-discipline ng-model="discipline"></yunzhi-discipline>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">分类一级名称</label>
                <div class="col-sm-8">
                    <yunzhi-instrument-type-first-level data-discipline="discipline" ng-model="instrumentFirstLevelType"></yunzhi-instrument-type-first-level>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">分类二级名称</label>
                <div class="col-sm-8">
                    <yunzhi-instrument-type data-instrument-first-level-type="instrumentFirstLevelType" ng-model="data.instrumentType"></yunzhi-instrument-type>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">制造单位</label>
                <div class="col-sm-8">
                    <yunzhi-manufacturer ng-model="data.generativeDepartment"></yunzhi-manufacturer>
                    <input type="hidden" name="generativeDepartmentName" ng-model="data.generativeDepartment.name" required/>
                    <div class="m-t-xs" ng-show="IntegratedAdd.generativeDepartmentName.$invalid && IntegratedAdd.serialNum.$dirty">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请选择或输入后选择制造单位
                        </span>
                    </div>
                    <span class="help-block m-b-none">请输入制造单位后，在随即出现的下拉菜单中点选</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">出厂编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.serialNum" required name="serialNum">
                    <div class="m-t-xs" ng-show="IntegratedAdd.serialNum.$invalid && IntegratedAdd.serialNum.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请输入有效的出厂编号
                       </span>
                    </div>
                    <span class="help-block m-b-none">请填写器具出厂标牌上的出厂编号；器具无出厂编号的，请填写使用单位自编号，自编号应刻在器具上。</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">器具名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.name" required name="name">
                    <div class="m-t-xs" ng-show="IntegratedAdd.name.$invalid && IntegratedAdd.name.$touched">
                        <span class="text-danger">
                           <i class="fa fa-exclamation-triangle"></i>请输入有效的器具名称
                        </span>
                    </div>
                    <span class="help-block m-b-none">请填写器具通用名称（检定规程中对该器具的称谓）。</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">出厂名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.outOfFactoryName" required name="outOfFactoryName">
                    <div class="m-t-xs" ng-show="IntegratedAdd.outOfFactoryName.$invalid && IntegratedAdd.outOfFactoryName.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请输入有效的出厂名称
                       </span>
                    </div>
                    <span class="help-block m-b-none">请填写器具标牌或外包装上标识的名称。</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">许可证号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.licenseNum" required name="licenseNum">
                    <div class="m-t-xs" ng-show="IntegratedAdd.licenseNum.$invalid && IntegratedAdd.licenseNum.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请输入有效的许可证号
                        </span>
                    </div>
                    <span class="help-block m-b-none">计量部门授予的器具生产许可证编号，一般在器具标牌或外包装上有标注。</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">测量范围</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        下限值
                        <select ng-model="data.minMeasureScale" name="minMeasureScale" ng-options="option as option.value for option in data.instrumentType.measureScales | orderBy: 'weight' track by option.id" required>
                        </select>
                        &nbsp;至&nbsp;
                        <select ng-model="data.maxMeasureScale" name="maxMeasureScale" ng-options="option as option.value for option in data.instrumentType.measureScales | orderBy: 'weight' track by option.id" required>
                        </select>
                        上限值&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <yunzhi-not-found data-instrument-first-level-type="instrumentFirstLevelType" data-instrument-type="data.instrumentType" ng-model="notFoundMeasureScale"></yunzhi-not-found>
                    </p>
                    <div class="m-t-xs" ng-show="IntegratedAdd.minMeasureScale.$invalid && IntegratedAdd.specificationName.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请选择一个适用测量范围下限
                        </span>
                    </div>
                    <div class="m-t-xs" ng-show="IntegratedAdd.maxMeasureScale.$invalid && IntegratedAdd.specificationName.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请选择一个适用测量范围上限
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">准确度等级</label>
                <div class="col-sm-8">
                    <div class="radio radio-info radio-inline" ng-repeat="accuracy in data.instrumentType.accuracies | orderBy: 'weight'">
                        <input type="radio" name="accuracy" id="inlineRadioAccuracy{{accuracy.id}}" checked="" ng-change="changAccuracy(accuracy)" ng-model="data.accuracy.id" ng-value="accuracy.id" required>
                        <label for="inlineRadioAccuracy{{accuracy.id}}">{{accuracy.value}}&nbsp;&nbsp;</label>
                    </div>
                    <yunzhi-not-found data-instrument-first-level-type="instrumentFirstLevelType" data-instrument-type="data.instrumentType" ng-model="notFoundAccuracy"></yunzhi-not-found>
                    <div class="m-t-xs" ng-show="IntegratedAdd.accuracy.$invalid && IntegratedAdd.specificationName.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请选择一个适用准确度等级
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">规格型号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.specificationName" required name="specificationName">
                    <div class="m-t-xs" ng-show="IntegratedAdd.specificationName.$invalid && IntegratedAdd.specificationName.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请输入有效的规格型号
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">适用规格型号</label>
                <div class="col-sm-8">
                    <div class="radio radio-info radio-inline" ng-repeat="specification in data.instrumentType.specifications">
                        <input type="radio" id="inlineRadioSpecification{{specification.id}}" checked="" ng-change="changeSpecification(specification)" ng-model="data.specification.id" ng-value="specification.id">
                        <label for="inlineRadioSpecification{{specification.id}}">{{specification.value}}&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">用途</label>
                <div class="col-sm-8">
                    <div class="radio radio-info radio-inline" ng-repeat="purpose in data.instrumentType.purposes">
                        <input type="radio" id="inlineRadio{{purpose.id}}" ng-change="changePurpose(purpose)" ng-model="data.purpose.id" ng-value="purpose.id">
                        <label for="inlineRadio{{purpose.id}}">{{purpose.name}}&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">安装地点</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.fixSite" required name="fixSite">
                    <div class="m-t-xs" ng-show="IntegratedAdd.fixSite.$invalid && IntegratedAdd.fixSite.$touched">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>请输入有效的安装地点
                        </span>
                    </div>
                </div>
            </div>
            <yunzhi-upload-image ng-model="data.attachments"></yunzhi-upload-image>
            <div class="form-group text-center">
                <button ng-click="submitType = 'saveAndClose'" ng-hide="IntegratedAdd.$submitted" class="btn btn-primary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp; 保存
                </button>
                <button ng-click="submitType = 'saveAndNew'" ng-hide="IntegratedAdd.$submitted || isShowSaveAndNew" class="btn btn-primary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp; 保存并新建
                </button>
                <button ng-disabled="true" type="button" class="btn btn-primary" ng-show="IntegratedAdd.$submitted">
                    &nbsp;&nbsp; 正在处理数据...
                </button>
            </div>
        </form>
    </div>
</div>
