<div>
    <!-- 一级模板 -->
    <div class="row">
        <div class="col-sm-6">
            <a ng-show="showAdd" class="btn btn-info btn-sm" ui-sref="InstrumentForced.InstrumentForcedApply.add({mandatoryInstrumentList: work.mandatoryInstrumentApply.mandatoryInstruments})"><i class="fa fa-plus"></i>&nbsp;增加器具
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" style="table-layout: fixed; width: 100%">
                <thead>
                <tr>
                    <th width="1%" ng-show="showCheckAll">
                        <yunzhi-check-all data-lists="work.apply.mandatoryInstruments" data-value="false"></yunzhi-check-all>
                    </th>
                    <th width="2%">学科类别</th>
                    <th width="2%">一级类别</th>
                    <th width="2%">二级类别</th>
                    <th width="2%">器具名称</th>
                    <th width="2%">出厂名称</th>
                    <th width="2%">型号规格</th>
                    <th width="2%">用途</th>
                    <th width="2%">测量范围</th>
                    <th width="2%">精确度等级</th>
                    <th width="2%">制造单位</th>
                    <th width="2%">出厂编号</th>
                    <th width="2%">安装地点</th>
                    <th width="2%">许可证号</th>
                    <th width="3%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, object) in work.apply.mandatoryInstruments">
                    <td ng-show="showCheckAll">
                        <input icheck type="checkbox" ng-model="object._checked">
                    </td>
                    <td style="word-wrap: break-word;">
                        {{object.instrumentType.instrumentFirstLevelType.discipline.name}}
                    </td>
                    <td style="word-wrap: break-word;">{{object.instrumentType.instrumentFirstLevelType.name}}</td>
                    <td style="word-wrap: break-word;">{{object.instrumentType.name}}</td>
                    <td style="word-wrap: break-word;">{{object.name}}</td>
                    <td style="word-wrap: break-word;">{{object.outOfFactoryName}}</td>
                    <td style="word-wrap: break-word;">{{object.specificationName}}</td>
                    <td style="word-wrap: break-word;">{{object.purpose.name}}</td>
                    <td style="word-wrap: break-word;">
                        {{object.minMeasureScale | yunzhiMeasureScale: object.maxMeasureScale}}
                    </td>
                    <td style="word-wrap: break-word;">{{object.accuracy.value}}</td>
                    <td style="word-wrap: break-word;">{{object.generativeDepartment.name}}</td>
                    <td style="word-wrap: break-word;">{{object.serialNum}}</td>
                    <td style="word-wrap: break-word;">{{object.fixSite}}</td>
                    <td style="word-wrap: break-word;">{{object.licenseNum}}</td>
                    <td>
                        <a class="btn btn-xs btn-info" ui-sref="InstrumentForced.InstrumentForcedApply.edit({mandatoryInstrumentSet: work.apply.mandatoryInstruments, key: key})"><i class="fa fa-paste"></i>&nbsp;编辑
                        </a>&nbsp;&nbsp;
                        <button class="btn btn-xs btn-danger" ng-click="delete(object)"><i class="fa fa-trash-o"></i>&nbsp;删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" name="addWorkForm" ng-submit="submit()">
                <div class="form-group row">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <p class="form-control-static"><strong>我单位确认此次填报的《强制检定计量器具备案登记表》中的计量器具全部属于强检停征范畴，保证填写内容正确，所提交的材料真实有效，如有虚报，愿意承担相应的法律责任。</strong>
                        </p>
                        <p class="text-primary2">
                            <label><input type="checkbox" name="iPromise" ng-model="iPromise" required/>
                                <strong>&nbsp;我承诺</strong></label></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 text-right">联系人</label>
                    <div class="col-sm-8">
                        {{currentUser.name}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 text-right">联系电话</label>
                    <div class="col-sm-8">
                        {{currentUser.mobile}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 text-right">备注</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="5" ng-model="work.mandatoryInstrumentApply.remark" ng-maxlength="80">

                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <button ng-disabled="addWorkForm.$invalid" ng-hide="addWorkForm.$submitted" class="btn btn-primary" type="submit">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;发起申请
                        </button>
                        <button ng-disabled="true" ng-show="addWorkForm.$submitted" class="btn btn-primary" type="button">
                            &nbsp;&nbsp;数据正在处理...
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

