<!--<div class="p-m">-->
    <!--<button id="sidebar-close" class="sidebar-button btn btn-default m-b-md" ng-click="$root.rightSidebar = false"><i-->
            <!--class="pe pe-7s-close"></i>-->
    <!--</button>-->
    <!--<div>-->
        <!--<span class="font-bold no-margins"> 数据分析： </span>-->
        <!--<br>-->
        <!--<small>第一项指标为本年度器具新增加数，第二项指标为本年度器具检定次数。比例均为同期环比。</small>-->
    <!--</div>-->
    <!--<div class="row m-t-sm m-b-sm">-->
        <!--<div class="col-lg-6">-->
            <!--<h3 class="no-margins font-extra-bold text-success">300,102</h3>-->

            <!--<div class="font-bold">3.4% <i class="fa fa-level-up text-success"></i></div>-->
        <!--</div>-->
        <!--<div class="col-lg-6">-->
            <!--<h3 class="no-margins font-extra-bold text-success">280,200</h3>-->

            <!--<div class="font-bold">5.6% <i class="fa fa-level-up text-success"></i></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="progress m-t-xs full progress-small">-->
        <!--<div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"-->
             <!--class=" progress-bar progress-bar-success">-->
            <!--<span class="sr-only">35% Complete (success)</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="p-m bg-light border-bottom border-top">-->
    <!--<span class="font-bold no-margins"> 最新留言: </span>-->
    <!--<br>-->
    <!--<small> 将展示近7天的系统留言信息</small>-->
    <!--<div class="m-t-md">-->
        <!--<div class="social-talk">-->
            <!--<div class="media social-profile clearfix">-->
                <!--<a class="pull-left">-->
                    <!--<img src="images/a1.jpg" alt="profile-picture">-->
                <!--</a>-->

                <!--<div class="media-body">-->
                    <!--<span class="font-bold">张三</span>-->
                    <!--<small class="text-muted">2017.05.21</small>-->
                    <!--<div class="social-content small">-->
                        <!--系统做的不错，期待推出手机端，加油！-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="social-talk">-->
            <!--<div class="media social-profile clearfix">-->
                <!--<a class="pull-left">-->
                    <!--<img src="images/a3.jpg" alt="profile-picture">-->
                <!--</a>-->

                <!--<div class="media-body">-->
                    <!--<span class="font-bold">器具用户1</span>-->
                    <!--<small class="text-muted">2017.05.22</small>-->
                    <!--<div class="social-content">-->
                        <!--希望能够共享生产企业的信息，将平台打造为购买器具的最佳比价平台。-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="social-talk">-->
            <!--<div class="media social-profile clearfix">-->
                <!--<a class="pull-left">-->
                    <!--<img src="images/a6.jpg" alt="profile-picture">-->
                <!--</a>-->

                <!--<div class="media-body">-->
                    <!--<span class="font-bold">生产企业2</span>-->
                    <!--<small class="text-muted">2017.05.22</small>-->

                    <!--<div class="social-content">-->
                        <!--希望开通比价平台，将用户的需求放在平台之上，我们进行器具的报价。在标准相同的情况下，3家价低者中标。并最终由3家中确认器具用型方案.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="p-m">-->
    <!--<span class="font-bold no-margins"> 登录数据统计 </span>-->

    <!--<div class="m-t-xs">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-6">-->
                <!--<small>今日</small>-->
                <!--<h4 class="m-t-xs">123 <i class="fa fa-level-up text-success"></i></h4>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<small>本周</small>-->
                <!--<h4 class="m-t-xs">1234 <i class="fa fa-level-up text-success"></i></h4>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-xs-6">-->
                <!--<small>昨日</small>-->
                <!--<h4 class="m-t-xs">112</h4>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<small>上周</small>-->
                <!--<h4 class="m-t-xs">2145 </h4>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<small> 随时查看系统登录情况，能够及时掌握系统的使用率。-->
    <!--</small>-->
<!--</div>-->
