<div class="row">
    <div class="col-md-12">
        <br>
        <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped"
               style="table-layout: fixed; width: 100%">
            <thead>
            <tr>
                <th width="2%">学科类别</th>
                <th width="2%">一级类别</th>
                <th width="2%">二级类别</th>
                <th width="2%">器具名称</th>
                <th width="2%">出厂名称</th>
                <th width="2%">型号规格</th>
                <th width="2%">用途</th>
                <th width="2%">测量范围</th>
                <th width="2%">精确度等级</th>
                <th width="2%">制造单位</th>
                <th width="2%">出厂编号</th>
                <th width="2%">安装地点</th>
                <th width="2%">许可证号</th>
                <th width="2%">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="object in work.apply.mandatoryInstruments | orderBy: 'id'">
                <td style="word-wrap: break-word;">
                    {{object.instrumentType.instrumentFirstLevelType.discipline.name}}
                </td>
                <td style="word-wrap: break-word;">{{object.instrumentType.instrumentFirstLevelType.name}}</td>
                <td style="word-wrap: break-word;">{{object.instrumentType.name}}</td>
                <td style="word-wrap: break-word;">{{object.name}}</td>
                <td style="word-wrap: break-word;">{{object.outOfFactoryName}}</td>
                <td style="word-wrap: break-word;">{{object.specificationName}}</td>
                <td style="word-wrap: break-word;">{{object.purpose.name}}</td>
                <td style="word-wrap: break-word;">
                    {{object.minMeasureScale | yunzhiMeasureScale: object.maxMeasureScale}}
                </td>
                <td style="word-wrap: break-word;">{{object.accuracy.value}}</td>
                <td style="word-wrap: break-word;">{{object.generativeDepartment.name}}</td>
                <td style="word-wrap: break-word;">{{object.serialNum}}</td>
                <td style="word-wrap: break-word;">{{object.fixSite}}</td>
                <td style="word-wrap: break-word;">{{object.licenseNum}}</td>
                <td style="word-wrap: break-word;" ng-bind-html="object | MandatoryInstrumentStatus"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">提交时间</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">申请单位</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.department.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">申请人</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.createUser.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">申请人联系电话</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.createUser.mobile}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">备注</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {{work.apply.remarks}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核单位</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.auditingDepartment.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核人</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.auditingUser.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核人联系电话</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.auditingUser.mobile}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">回复意见</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{work.apply.opinions}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <yunzhi-back-button></yunzhi-back-button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
