<div id="mandatoryDetailapplianceAdd_page" style="padding:10px;">
    <form id="mandatoryDetailapplianceAdd_form" method="post">
        <div class="row col-md-6">
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_ApplianceNum">系统编号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_ApplianceNum" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_district">区域（主体）:</label>
                    <input id="mandatoryDetailapplianceAdd_district" value="廊坊">
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_name ">器具名称:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_name" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_purpose ">用途:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_purpose" value="测量长度">
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_type ">型号规格:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_type" type="text" name="email" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_rank ">准确度等级:&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_rank" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_mesure_scale ">测量范围:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_mesure_scale" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_make_unit ">制造单位:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_make_unit" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_factoryNum ">出厂编号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_factoryNum" type="text" />
                </div>
            </div>
        </div>
        <div class="row col-md-6">
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_fix_site ">安装地点:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_fix_site" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_license_num ">许可证号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_license_num" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_checkUnit">检定单位:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_checkUnit" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_checkTime ">检定日期:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_checkTime" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_checkResult">检定结果:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_checkResult" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_checkDeviation">示值偏差:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_checkDeviation" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_validityTime">有效期至:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_validityTime" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_checker">检定员:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_checker" type="text" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-12">
                    <label for="mandatoryDetailapplianceAdd_examiner">核验员:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceAdd_examiner" type="text" />
                </div>
            </div>
        </div>
    </form>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12 text-center">
            <button id="btn" ng-click="btnsubmit()">保存</button>
        </div>
    </div>
</div>
