<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>区域:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexDstrict">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>用户:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexUser" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>检定日期:&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexCheckTime" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>检定单位:&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexCheckUnit" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>用途:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexPurpose" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>器具名称:&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexAppliance" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>状态:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="mandatoryDetailapplianceIndexStatus" type="text">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mandatoryDetailapplianceIndexTable">
        </table>
    </div>
</div>
<div id="dd">
    <table id="mandatoryDetailapplianceIndex_checkDetail"></table>
</div>
