<div class="row">
    <form class="form-horizontal ng-pristine ng-valid" name="queryForm" ng-submit="reload()">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">标准装置名称:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="params.deviceSet.name">
                        <!--<yunzhi-device-set ng-model="deviceSet"></yunzhi-device-set>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">区域:</label>
                    <div class="col-sm-8">
                        <yunzhi-district ng-model="params.district"></yunzhi-district>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">技术机构:</label>
                    <div class="col-sm-8">
                        <yunzhi-instrument-user
                            data-config="{departmentType: '技术机构'}"
                            data-district="params.district"
                            ng-model="params.department"></yunzhi-instrument-user>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">学科类别：</label>
                    <div class="col-sm-8">
                        <yunzhi-discipline ng-model="params.discipline"></yunzhi-discipline>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">一级类别：</label>
                    <div class="col-sm-8">
                        <yunzhi-instrument-type-first-level
                            data-discipline="params.discipline"
                            ng-model="params.instrumentTypeFirstLevel"></yunzhi-instrument-type-first-level>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">二级类别：</label>
                    <div class="col-sm-8">
                        <yunzhi-mandatory-instrument-type
                            data-instrument-type-first-level="params.instrumentTypeFirstLevel"
                            ng-model="params.instrumentType"></yunzhi-mandatory-instrument-type>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i>&nbsp;&nbsp;查询
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--<button type="button" ng-click="log(params)"> 点加显示数据</button>-->
    <div ng-include="'views/standard/filedeviceinstrument/indexTable.html'"></div>
</div>
