<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-body">
        <ng-form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">请输入名称</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">请输入拼音</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="pinyin">
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</div>
