<div class="row">
    <form class="form-horizontal ng-pristine ng-valid">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">学科类别:</label>
                    <div class="col-sm-5">
                        <yunzhi-discipline ng-model="params.discipline"></yunzhi-discipline>
                    </div>
                    <div class="col-sm-3">
                        <a ui-sref="system.instrumentTypeFirstLevel({disciplineId: params.discipline.id})"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-gears"></i>&nbsp;管理一级分类</button></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                    <a ui-sref="system.instrumentTypeAdd({disciplineId: discipline.id, config:{type:config.type}})"><button class="btn btn-info btn-sm" type="button"><i class="fa fa-plus">&nbsp;&nbsp;新增</i></button></a>
                </div>
            </div>
            <div class="table-responsive">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="DataTables_Table_0_wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <yunzhi-page-size ng-model="params.size" data-reload="reloadBySize"></yunzhi-page-size>
                        </div>
                        <div class="col-sm-4 text-center">
                            <yunzhi-exportbtn></yunzhi-exportbtn>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" style="table-layout: fixed; width: 100%">
                        <thead>
                            <tr>
                                <th width="1%">名称</th>
                                <th width="1%">分类一级名称</th>
                                <th width="1%">精确度显示名称</th>
                                <th width="1%">精确度</th>
                                <th width="1%">测量范围</th>
                                <th width="1%">可选规格型号</th>
                                <th width="1%">可选用途</th>
                                <th width="1%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, object) in data.content">
                                <td style="word-wrap: break-word">{{object.name}}</td>
                                <td style="word-wrap: break-word">{{object.instrumentFirstLevelType.name}}</td>
                                <td style="word-wrap: break-word">{{object.accuracyDisplayName.name}}</td>
                                <td style="word-wrap: break-word"><span ng-repeat="accuracy in object.accuracies | orderBy: 'weight'">{{accuracy.value}}&nbsp;&nbsp;</span></td>
                                <td style="word-wrap: break-word"><span ng-repeat="measureScale in object.measureScales | orderBy: 'weight'">{{measureScale.value}}&nbsp;&nbsp;</span></td>
                                <td style="word-wrap: break-word"><span ng-repeat="specification in object.specifications">{{specification.value}}&nbsp;&nbsp;</span></td>
                                <td style="word-wrap: break-word"><span ng-repeat="purpose in object.purposes">{{purpose.name}}&nbsp;&nbsp;</span></td>
                                <td style="word-wrap: break-word">
                                    <yunzhi-access data-reload="reloadByPage" data-route="system.instrumentType"><a ui-sref="system.instrumentTypeEdit({id: object.id, config:{type: config.type}})" class="btn btn-info btn-xs"><i class="fa fa-paste"></i>&nbsp;编辑</a></yunzhi-access>&nbsp;&nbsp;
                                    <a class="btn btn-danger btn-xs" ng-click="delete($index, object.id)"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <yunzhi-page data-reload="reloadByPage" data-total-pages="data.totalPages" data-total-elements="data.totalElements" data-first="data.first" data-last="data.last" data-number="data.number" data-size="data.size" data-number-of-elements="data.numberOfElements"></yunzhi-page>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
