<div class="row">
    <div class="col-lg-6">
        <form method="get" class="form-horizontal" novalidate name="editForm" ng-submit="saveAndClose()">
            <div class="form-group">
                <label class="col-sm-4 control-label">器具名称</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.mandatoryInstrument.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">证书编号</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.certificateNum}}</p>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">应收费用</label>-->
            <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" ng-model="data.cost">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-4 control-label">批准人</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.ratifierQualifier.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">检定结果</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.checkResult.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">检定日期</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.checkDate | date}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">有效期至</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.validityDate | date}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">器具证书类型</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.instrumentCertificateType.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">证书状态</label>
                <div class="col-sm-8">
                    <p class="form-control-static ng-binding">{{data.certificateStatus.name}}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">核验员</label>
                <div class="col-sm-8">
                    <yunzhi-qualifier ng-model="data.verifierQualifier"></yunzhi-qualifier>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">检定员</label>
                <div class="col-sm-8">
                    <yunzhi-qualifier ng-model="data.inspectorQualifier"></yunzhi-qualifier>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">报警日期</label>
                <div class="col-sm-8">
                    <yunzhi-date ng-model="data.alertDate"></yunzhi-date>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                    <button ng-hide="editForm.$submitted" class="btn btn-primary" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;保存
                    </button>
                    <button ng-disabled="true" ng-show="editForm.$submitted" class="btn btn-primary" type="button">
                        &nbsp;&nbsp;数据正在处理...
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <div ng-bind="info" class="text-success"></div>
                </div>
            </div>
        </form>
    </div>
</div>
