<div id="navigation" ng-controller="SystemNavigationCtrl">
    <div class="profile-picture">
        <a href="index.html">
            <img src="images/profile.png" class="img-circle m-b" alt="logo">
        </a>
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase"> {{user.name}}</span>
            <div class="small-chart m-t-sm">
                <div sparkline spark-data="barProfileData" spark-options="barProfileOptions"></div>
            </div>
            <div>
                <h5 class="font-extra-bold m-b-xs" ng-repeat="role in user.roles">
                </h5>
                <small class="text-muted">所属单位：{{user.department.name}}</small>
            </div>
        </div>
    </div>
    <ul yunzhi-side-navigation class="nav" id="side-menu">
    </ul>
</div>
