<div class="row">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>区域:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="productlist_district" value="01">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>学科类别:&nbsp;&nbsp;&nbsp;</label>
                <input id="disciplineProductlist" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>器具名称:&nbsp;&nbsp;&nbsp;</label>
                <input id="applianceProductlist" type="text">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table id="productlist_table">
        </table>
    </div>
</div>
<div id="dd">
    <table id="checkDetail_table"></table>
</div>
