<h1>特殊符号</h1>

<br>

<h2>☀☁☂☃☄☇☈☉☊☋☌☍☎☏</h2>
<h2>☐☑☒☓✓✔✕✖✗✘</h2>
<h2>☠☡☢☣☤☥☦☧☨☩☪☫☬☭☮☯☸</h2>
<h2>☰☱☲☳☴☵☶☷ ۩۝۞</h2>
<h2>♔♕♖♗♘♙♚♛♜♝♞♟</h2>
<h2>☹☺☻☼☽☾☿♀♁♂♠♥♦♣♤♡♢♧♨〒</h2>
<h2>♃♄♅♆♇♈♉♊♋♌♍♎♏♐♑♒♓</h2>
<h2>✁✂✃✄✆✇✈✉✌✍✎✏✐✑✒</h2>
<h2>✙✚✛✜✝✞✟✠✡✢✣✤✥✦✧</h2>
<h2>★☆✩✪✫✬✭✮✯✰</h2>
<h2>✱✲✳✴✵✶✷✸✹✺</h2>
<h2>✻✼✽✾✿❀❁❂❃❄❅❆❇❈❉❊❋</h2>
<h2>❍❏❐❑❒❖❘❙❚</h2>
<h2>❛❜❝❞❡❢❣❤❥❦❧</h2>

<br>

<h1>标点符号</h1>

<br>

<h2>!！ ¡ ‼ ‽ ? ？¿ " # ＃% ％&#38;＆ '* ~～＊, - ./ : ; @＠ ( ) [ ] { }</h2>
<h2>－ ‥ … — ﹎ ¯ ˍ ﹉ ﹊ ﹍ – ╴ ﹏ ﹣ ＿ ￣|￤｜︴∣︱︳∥</h2>
<h2>゜'‘‘’´′＇`￣"“”″゛＂〝〟;；:：･・/\／＼｡．。.､、，,&#60;&#62;</h2>
<h2>¦§ © « ¬ ­ ® °µ ¶ · »</h2>
<h2>‐‑ ‒ – — ― ‗‘’‚‛“”„‟</h2>
<h2>†‡• ‣ ․ ‥ … ‧ </h2>
<h2>‰ ‱ ‵′‶″‷‴ ‸ ‹ › ※</h2>
<h2>‾ _ | ‿ ⁀ ⁁ ⁂ ⁃ ⁄ ⁅ ⁆</h2>
<h2>ˆ ˇ ˉː˘ ˙ ˚ ˛ ˜ ˝</h2>
<h2>⌂ ⌐ ⌒ ⌠ ⌡ ⌆ ⌈ ⌉ ⌊ ⌋ ⌢ ⌣</h2>
<h2>^ ` ~ ¨ ¯ ´ ¸ ʰ ʱ ʲ ʳ ʴ ʵ ʶ ʷ</h2>
<h2>ʸ ʹ ʺ ʻ ʼ ʽ ʾ ʿ ˀ ˁ ˂ ˃ ˄ </h2>
<h2>˅ ˆ ˇ ˈ ˉ ˊ ˋ ˌ ˍ ˎ ˏ ː ˑ ˒</h2>
<h2>˓ ˔ ˕ ˖ ˗ ˘ ˙ ˚ ˛ ˜ ˝ ˞ ˠ ˡ ˢ</h2>
<h2>ˣ ˤ ˥ ˦ ˧ ˨ ˩</h2>

<br>

<h1>括号</h1>

<br>

<h2>（）〔〕｛｝＜＞〈〉「」【】</h2>
<h2>﹙﹚﹝﹞﹛﹜﹤﹥｢｣《》『』〖〗</h2>
<h2>︵ ︹ ︷ ︿ ︽ ﹁ ﹃  ︻</h2>
<h2>︶ ︺ ︸ ﹀ ︾ ﹂ ﹄  ︼</h2>

<br>

<h1>数字符号</h1>

<br>

<h2>❶❷❸❹❺❻❼❽❾❿</h2>
<h2>➀➁➂➃➄➅➆➇➈➉</h2>
<h2>➊➋➌➍➎➏➐➑➒➓</h2>
<h2>①②③④⑤⑥⑦⑧⑨⑩⑪⑫⑬⑭⑮⑯⑰⑱⑲⑳⓪</h2>
<h2>⑴⑵⑶⑷⑸⑹⑺⑻⑼⑽⑾⑿⒀⒁⒂⒃⒄⒅⒆⒇</h2>
<h2>⒈⒉⒊⒋⒌⒍⒎⒏⒐⒑⒒⒓⒔⒕⒖⒗⒘⒙⒚⒛</h2>
<h2>㈠㈡㈢㈣㈤㈥㈦㈧㈨㈩</h2>
<h2>㊀㊁㊂㊃㊄㊅㊆㊇㊈㊉</h2>
<h2>0123456789 ０１２３４５６７８９</h2>
<h2>¼ ½ ¾ ⅓ ⅔ ⅕ ⅖ ⅗ ⅘ ⅙ ⅚ ⅛ ⅜ ⅝ ⅞ ⅟</h2>
<h2>⁰¹²³⁴⁵⁶⁷⁸⁹⁺ ₀₁₂₃₄₅₆₇₈₉₊₋₌₍₎</h2>
<h2>ⅠⅡⅢⅣⅤⅥⅦⅧⅨⅩⅪⅫ　ⅬⅭⅮⅯ</h2>
<h2>ⅰⅱⅲⅳⅴⅵⅶⅷⅸⅹⅺⅻ　ⅼⅽⅾⅿↀↁↂ</h2>

<br>

<h1>英文符号</h1>

<br>

<h2>⒜⒝⒞⒟⒠⒡⒢⒣⒤⒥⒦⒧⒨⒩</h2>
<h2>⒪⒫⒬⒭⒮⒯⒰⒱⒲⒳⒴⒵</h2>
<h2>ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃ</h2>
<h2>ⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ</h2>
<h2>ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝ</h2>
<h2>ⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ</h2>

<br>

<h1>时间符号</h1>

<br>

<h2>月份：㋀ ㋁ ㋂ ㋃ ㋄ ㋅ ㋆ ㋇ ㋈ ㋉ ㋊ ㋋</h2>
<h2>日期：㏠ ㏡ ㏢ ㏣ ㏤ ㏥ ㏦ ㏧ ㏨ ㏩</h2>
<h2>　　　㏪ ㏫ ㏬ ㏭ ㏮ ㏯ ㏰ ㏱ ㏲ ㏳</h2>
<h2>　　　㏴ ㏵ ㏶ ㏷ ㏸ ㏹ ㏺ ㏻ ㏼ ㏽ ㏾</h2>
<h2>时间：㍘ ㍙ ㍚ ㍛ ㍜ ㍝ ㍞ ㍟ ㍠ ㍡ ㍢ ㍣</h2>
<h2>　　　㍤ ㍥ ㍦ ㍧ ㍨ ㍩ ㍪ ㍫ ㍬ ㍭ ㍮ ㍯ ㍰</h2>
<h2>星期：㈰ ㈪ ㈫ ㈬ ㈭ ㈮ ㈯</h2>
<h2>　　　㊐ ㊊ ㊋ ㊌ ㊍ ㊎ ㊏</h2>
<h2>年代：㍻ ㍼ ㍽ ㍾</h2>

<br>

<h1>音乐符号</h1>

<br>

<h2>♩♪♫ ♬♭♮♯</h2>

<br>

<h1>货币符号</h1>

<br>

<h2>$＄ ¢ £ ¤ ¥ ₠ ₡ ₢ ₣ ₤</h2>
<h2>₥ ₦ ₧ ₨ ₩ ₪ ＄￠￡￥</h2>

<br>

<h1>箭头符号</h1>

<br>

<h2>← ↑ → ↓ ↔ ↕ ↖ ↗ ↘ ↙</h2>
<h2>↼ ↽ ↾ ↿ ⇀ ⇁ ⇂ ⇃ ⇋ ⇌</h2>
<h2>↚ ↛ ↜ ↝ ⇜ ⇝ ↭ ↮ ↞ ↩ ↪ ↫ ↬</h2>
<h2>↟ ↠ ↡ ↢ ↣ ↤ ↥ ↦ ↧ ↨ ⇞ ⇟ ⇤ ⇥ ⇠ ⇡ ⇢ ⇣</h2>
<h2>↰ ↱ ↲ ↳ ↴ ↵ ↶ ↷ ↹ ⇄ ⇅ ⇆ ⇇ ⇈ ⇉ ⇊</h2>
<h2>⇍ ⇎ ⇏ ⇐ ⇑ ⇒ ⇓ ⇔ ⇕ ⇖ ⇗ ⇘ ⇙ ⇚ ⇛</h2>
<h2>⇦ ⇧ ⇨ ⇩ ⇪ ↯ ↸ ↺ ↻</h2>
<h2>➔➘➙➚➛➜➝➞➟➠➡➢➣➤➥➦➧➨</h2>
<h2>➩➪➫➬➭➮➯➱➲</h2>
<h2>➳➴➵➶➷➸➹➺➻➼➽➾</h2>

<br>

<h1>特殊字元符号</h1>

<br>

<h2>☚☛☜☞☝☟㊤㊥㊦㊧㊨</h2>
<h2>㈱㈲㈳㈴㈵㈶㈷㈸㈹㈺㈻㈼㈽㈾㈿㉀㉁㉂㉃</h2>
<h2>㊑㊒㊓㊔㊕㊖㊗㊘㊙㊚㊛㊜㊝㊞</h2>
<h2>㊟㊠㊡㊢㊣㊩㊪㊫㊬㊭㊮㊯㊰</h2>
<h2>㆒㆓㆔㆕㆖㆗㆘㆙㆚㆛㆜㆝㆞㆟㉿㍿</h2>
<h2>〡〢〣〤〥〦〧〨〩　　十卄卅　　丷丶</h2>

<br>

<h1>色块符号</h1>

<br>

<h2>＿ ˍ ▀ ▁ ▂ ▃ ▄ ▅ ▆ ▇ █ ▉▊▋▌▍▎▏</h2>
<h2>▐ ░ ▒ ▓ ▔▕</h2>
<h2>■ □ ▢ ▣ ▤ ▥ ▦ ▧ ▨ ▩ ◫</h2>
<h2>◆ ◇ ◊ ◈ ▪ ▫ ▬ ▭ ▮ ▯ ▰ ▱</h2>
<h2>▲ ▼ ▴ ▾ ▶ ▸ ► ◀ ◂ ◄ ◢ ◣</h2>
<h2>△ ▽ ▵ ▿ ▷ ▹ ▻ ◁ ◃ ◅ ◥ ◤</h2>
<h2>○ ◯ ◎ ● ◌ ◍ ◦ ◜ ◝ ◞ ◟ ◠ ◡</h2>
<h2>◧ ◨ ◩ ◪ ◉ ◐ ◑ ◒ ◓ ◔ ◕ ◖ ◗ ◘ ◙ ◚ ◛ ◬ ◭ ◮</h2>
<h2>⿰⿱⿲⿳⿴⿵⿶⿷⿸⿹⿺⿻</h2>

<br>

<h1>线段符号</h1>

<br>

<h2>–﹣﹦≡｜∥▕ ︳∕﹨╱ ╲</h2>
<h2>─ — ═ ╴¯ ￣ ﹉ ﹊ ﹋ ﹌ ﹍ ﹎ ﹏</h2>
<h2>─ ━ │ ┃ ┄ ┅ ┆ ┇ ┈ ┉ ┊ ┋</h2>
<h2>┌ ┍ ┎ ┏ ┐ ┑ ┒ ┓ └ ┕ ┖ ┗ ┘ ┙ ┚ ┛</h2>
<h2>├ ┝ ┞ ┟ ┠ ┡ ┢ ┣ ┤ ┥ ┦ ┧ ┨ ┩ ┪ ┫</h2>
<h2>┬ ┭ ┮ ┯ ┰ ┱ ┲ ┳ ┴ ┵ ┶ ┷ ┸ ┹ ┺ ┻</h2>
<h2>┼ ┽ ┾ ┿ ╀ ╁ ╂ ╃ ╄ ╅ ╆ ╇ ╈ ╉ ╊ ╋</h2>
<h2>╌ ╍ ╎ ╏</h2>
<h2>═ ║ ╒ ╓ ╔ ╕ ╖ ╗ ╘ ╙ ╚ ╛ ╜ ╝</h2>
<h2>╞ ╟ ╠ ╡ ╢ ╣ ╤ ╥ ╦ ╧ ╨ ╩ ╪ ╫ ╬</h2>
<h2>╭ ╮ ╯╰ ╱ ╲ ╳ ╴ ╵ ╶ ╷ ╸ ╹ ╺ ╻ ╼ ╽ ╾ ╿</h2>

<br>

<h1>数学运算符号</h1>

<br>

<h2>+＋=＝&#60;&#62;±×﹡╳÷</h2>
<h2>∀∁∂∃∄∅∆∇∈∉∊∋∌∍∎∏∐∑−∓∔∕∖∗∘∙</h2>
<h2>√∛∜∝∞∟∠∡∢∣∤∥∦∧∨∩∪</h2>
<h2>∫∬∭∮∯∰∱∲∳ ∴ ∵ ∶ ∷ ∸ ∹ ∺ ∻ ∼∽∾∿≀</h2>
<h2>≁≂≃≄≅≆≇≈≉≊≋≌≍≎≏≐≑≒≓≔≕≖≗≘≙≚≛≜≝≞≟≠≡≢≣</h2>
<h2>≤≥≦≧≨≩≪≫≬≭≮≯≰≱≲≳≴≵≶≷≸≹≺≻≼≽≾≿⊀⊁</h2>
<h2>⊂⊃⊄⊅⊆⊇⊈⊉⊊⊋⊌⊍⊎⊏⊐⊑⊒⊓⊔⊕⊖⊗⊘⊙⊚⊛⊜⊝⊞⊟⊠⊡</h2>
<h2>⊢⊣⊤⊥⊦⊧⊨⊩⊪⊫⊬⊭⊮⊯⊰⊱⊲⊳⊴⊵⊶⊷⊸⊹⊺⊻⊼⊽</h2>
<h2>⊾⊿⋀⋁⋂⋃⋄⋅⋆⋇⋈⋉⋊⋋⋌⋍⋎⋏⋐⋑⋒⋓⋔⋕</h2>
<h2>⋖⋗⋘⋙⋚⋛⋜⋝⋞⋟⋠⋡⋢⋣⋤⋥⋦⋧⋨⋩⋪⋫⋬⋭ ⋮ ⋯ ⋰ ⋱</h2>

<br>

<h1>学术符号</h1>

<br>

<h2>§№ ℡ ℠ ™ ℗ ℀ ℁ ℅ ℆ ℂ ℃ ℄ ℇ ℈ ℉</h2>
<h2>ℊ ℋ ℌ ℍ ℎ ℏ ℐ ℑ ℒ ℓ ℔ ℕ ℘ ℙ ℚ ℛ ℜ ℝ ℞ ℟</h2>
<h2>℣ ℤ ℥ Ω ℧ ℨ ℩ K Å ℬ ℭ ℮ ℯ ℰ ℱ Ⅎ ℳ ℴ ℵ ℶ ℷ ℸ</h2>
<h2>㎙ ㎚ ㎛ ㎜ ㎝ ㎞ ㎟ ㎠ ㎡ ㎢ ㎣ ㎤ ㎥ ㎦</h2>
<h2>㎅ ㎆ ㎇㎕ ㎖ ㎗ ㎘ ㎍ ㎎ ㎏ ㏀ ㏁</h2>
<h2>㍱ ㍲ ㍳ ㍴ ㍵ ㍶ ㎀ ㎁ ㎂ ㎃ ㎄</h2>
<h2>㎈ ㎉ ㎊ ㎋ ㎌ ㎐ ㎑ ㎒ ㎓ ㎔</h2>
<h2>㎴ ㎵ ㎶ ㎷ ㎸ ㎹ ㎺ ㎻ ㎼ ㎽ ㎾ ㎿</h2>
<h2>㎩ ㎪ ㎫ ㎬ ㎭ ㎮ ㎯ ㎰ ㎱ ㎲ ㎳ ㎧ ㎨</h2>
<h2>㏂ ㏃ ㏄ ㏅ ㏆ ㏇ ㏈ ㏉ ㏊ ㏋ ㏌ ㏍ ㏎ ㏏</h2>
<h2>㏐ ㏑ ㏒ ㏓ ㏔ ㏕ ㏖ ㏗ ㏘ ㏙ ㏚ ㏛ ㏜ ㏝</h2>
<h2>␀␁␂␃␄␅␆␇␈␉␊␋␌␍␎␏␐␑␒</h2>
<h2>␓␔␕␖␗␘␙␚␛␜␝␞␟␠␡␢␣␤</h2>

<br>

<h1>希腊文</h1>

<br>

<h2>ʹ ͵ ͺ ; ΄ ΅ ·</h2>
<h2>ΑΒΓΔΕΖΗΘΙΚΛΜ</h2>
<h2>ΝΞΟΠΡΣΤΥΦΧΨΩ</h2>
<h2>αβγδεζηθικλμ</h2>
<h2>νξοπρςστυφχψω</h2>
<h2>άέήίύόώ ΪΫϊϋ ΐΰΆΈΉΊΌΎΏ</h2>

<br>

<h1>斯拉夫文</h1>

<br>

<h2>Ё Ђ Ѓ Є Ѕ І Ї Ј Љ Њ Ћ Ќ Ў Џ</h2>
<h2>ё ђ ѓ є ѕ і ї ј љ њ ћ ќ ў џ</h2>
<h2>АБВГДЕЖЗИЙКЛМНОПР</h2>
<h2>СТУФХЦЧШЩЪЫЬЭЮЯ</h2>
<h2>абвгдежзийклмнопр</h2>
<h2>стуфхцчшщъыьэюя</h2>
<h2>Ѡ Ѣ Ѥ Ѧ Ѩ Ѫ Ѭ Ѯ Ѱ Ѳ Ѵ Ѷ Ѹ Ѻ Ѽ Ѿ Ҁ</h2>
<h2>ѡ ѣ ѥ ѧ ѩ ѫ ѭ ѯ ѱ ѳ ѵ ѷ ѹ ѻ ѽ ѿ ҁ</h2>
<h2>҂҃҄҅҆</h2>
<h2>Ґ Ғ Ҕ Җ Ҙ Қ Ҝ Ҟ Ҡ Ң Ҥ Ҧ Ҩ Ҫ Ҭ Ү Ұ</h2>
<h2>Ҳ Ҵ Ҷ Ҹ Һ Ҽ Ҿ Ӏ Ӂ Ӄ Ӈ Ӌ</h2>
<h2>ґ ғ ҕ җ ҙ қ ҝ ҟ ҡ ң ҥ ҧ ҩ ҫ ҭ ү ұ</h2>
<h2>ҳ ҵ ҷ ҹ һ ҽ ҿ   ӂ ӄ ӈ ӌ</h2>
<h2>Ӑ Ӓ Ӕ Ӗ Ә Ӛ Ӝ Ӟ Ӡ Ӣ Ӥ Ӧ Ө Ӫ Ӯ Ӱ Ӳ Ӵ Ӹ</h2>
<h2>ӑ ӓ ӕ ӗ ә ӛ ӝ ӟ ӡ ӣ ӥ ӧ ө ӫ ӯ ӱ ӳ ӵ ӹ</h2>

<br>

<h1>日文</h1>

<br>

<h2>あいうえお　　　　　　　　　　　　　ぁぃぅぇぉ</h2>
<h2>かきくけこ　がぎぐげご</h2>
<h2>さしすせそ　ざじずぜぞ</h2>
<h2>たちつてと　だぢづでど　　　　　　　　　っ</h2>
<h2>なにぬねの</h2>
<h2>はひふへほ　ばびぶべぼ　ぱぴぷぺぽ</h2>
<h2>まみむめも</h2>
<h2>や　ゆ　よ　　　　　　　　　　　　　ゃ　ゅ　ょ</h2>
<h2>らりるれろ</h2>
<h2>わゐ　ゑを　　　　　　　　　　　　　ゎ</h2>
<h2>ん</h2>

<h2>アイウエオ　　　ヴ　　　　　　　　　ァィゥェォ</h2>
<h2>カキクケコ　ガギグゲゴ　　　　　　　ヵ　　ヶ</h2>
<h2>サシスセソ　ザジズゼゾ</h2>
<h2>タチツテト　ダヂヅデド　　　　　　　　　ッ</h2>
<h2>ナニヌネノ</h2>
<h2>ハヒフヘホ　バビブベボ　パピプペポ</h2>
<h2>マミムメモ</h2>
<h2>ヤ　ユ　ヨ　　　　　　　　　　　　　ャ　ュ　ョ</h2>
<h2>ラリルレロ</h2>
<h2>ワヰ　ヱヲ　ヷヸ　ヹ ヺ　　　　　　　ヮ</h2>
<h2>ン</h2>

<h2>ｱ ｲ ｳ ｴ ｵ　ｧ ｨ ｩ ｪ ｫ</h2>
<h2>ｶ ｲ ｸ ｹ ｺ</h2>
<h2>ｻ ｼ ｽ ｾ ｿ</h2>
<h2>ﾀ ﾁ ﾂ ﾃ ﾄ　      ｯ</h2>
<h2>ﾅ ﾆ ﾇ ﾈ ﾉ</h2>
<h2>ﾊ ﾍ ﾌ ﾍ ﾎ</h2>
<h2>ﾏ ﾐ ﾑ ﾒ ﾓ</h2>
<h2>ﾔ    ﾕ    ﾖ　ｬ    ｭ    ｮ</h2>
<h2>ﾗ ﾘ ﾙ ﾚ ﾛ</h2>
<h2>ﾜ          ｦ</h2>
<h2>ﾝ</h2>
<h2>ー ﾞﾟ゛゜ゝゞヽヾ・｡､･</h2>
<h2>㋐ ㋑ ㋒ ㋓ ㋔　㋩ ㋪ ㋫ ㋬ ㋭</h2>
<h2>㋕ ㋖ ㋗ ㋘ ㋙　㋮ ㋯ ㋰ ㋱ ㋲</h2>
<h2>㋚ ㋛ ㋜ ㋝ ㋞　㋳ 　 ㋴ 　 ㋵</h2>
<h2>㋟ ㋠ ㋡ ㋢ ㋣　㋶ ㋷ ㋸ ㋹ ㋺</h2>
<h2>㋤ ㋥ ㋦ ㋧ ㋨　㋻ ㋼ 　 ㋽ ㋾</h2>
<h2>㌀ ㌁ ㌂ ㌃ ㌄ ㌆ ㌇ ㌈ ㌉ ㌊ ㌋ ㌌ ㌍</h2>
<h2>㌎ ㌏ ㌐ ㌑ ㌒ ㌓ ㌔ ㌕ ㌖ ㌗ ㌘ ㌙ ㌚</h2>
<h2>㌛ ㌜ ㌝ ㌞ ㌟ ㌠ ㌡ ㌢ ㌣ ㌤ ㌥ ㌦ ㌧</h2>
<h2>㌨ ㌩ ㌪ ㌫ ㌬ ㌭ ㌮ ㌯ ㌰ ㌱ ㌲ ㌳ ㌴</h2>
<h2>㌵ ㌶ ㌷ ㌸ ㌹ ㌺ ㌻ ㌼ ㌽ ㌾ ㌿ ㍀ ㍁</h2>
<h2>㍂ ㍃ ㍄ ㍅ ㍆ ㍇ ㍈ ㍉ ㍊ ㍋ ㍌ ㍍ ㍎</h2>
<h2>㍏ ㍐ ㍑ ㍒ ㍓ ㍔ ㍕ ㍖ ㍗</h2>

<br>

<h1>韩文</h1>

<br>

<h2>ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅌㅍㅎ</h2>
<h2>ㄲㄸㅃㅆㅉ</h2>
<h2>ㅏㅑㅓㅕㅗㅛㅜㅠㅡㅣ</h2>
<h2>ㅐㅒㅔㅖㅘㅙㅚㅝㅞㅟㅢ</h2>
<h2>ㄳㄵㄶㅎㄽㄾㅀㄼㄻㄺㄿㅄ</h2>
<h2>가갸거겨고교구규그기</h2>
<h2>나냐너녀노뇨누뉴느니</h2>
<h2>다댜더뎌도됴두듀드디</h2>
<h2>라랴러려로료루류르리</h2>
<h2>마먀머며모묘무뮤므미</h2>
<h2>바뱌버벼보뵤부뷰브비</h2>
<h2>사샤서셔소쇼수슈스시</h2>
<h2>아야어여오요우유으이</h2>
<h2>자쟈저져조죠주쥬즈지</h2>
<h2>차챠처쳐초쵸추츄츠치</h2>
<h2>카캬커켜코쿄쿠큐크키</h2>
<h2>타탸터텨토툐투튜트티</h2>
<h2>파퍄퍼펴포표푸퓨프피</h2>
<h2>하햐허혀호효후휴흐히</h2>

<br>

<h1>拉丁文</h1>

<br>

<h2>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
<h2>abcdefghijklmnopqrstuvwxyz</h2>
<h2>ªºÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝÞß</h2>
<h2>àáâãäåæçèéêëìíîïðñòóôõöøùúûüýþÿ</h2>
<h2>ĀāĂăĄąĆćĈĉĊċČčĎďĐđĒēĔĕĖėĘęĚěĜĝĞğĠġĢģ</h2>
<h2>ĤĥĦħĨĩĪīĬĭĮįİıĲĳĴĵĶķĸĹĺĻļĽľĿŀŁłŃńŅņŇňŉŊŋŌōŎŏŐőŒœ</h2>
<h2>ŔŕŖŗŘřŚśŜŝŞşŠšŢţŤťŦŧŨũŪūŬŭŮůŰűŲųŴŵŶŷŸŹźŻżŽžſƒ</h2>
<h2>ǍǎǏǐǑǒǓǔǕǖǗǘǙǚǛǜǵ</h2>
<h2>ǺǻǼǽǾǿɐɑɒɓɔɕɖɗɘəɚɛɜɝɞɟɠɡɢɣɤɥɦɧɨɩɪɫɬɭɮ</h2>
<h2>ɯɰɱɲɳɴɵɶɷɸɹɺɻɼɽɾɿʀʁʂʃʄʅʆʇʈʉʊʋʌʍʎʏʐʑʒʓʔʕʖ</h2>
<h2>ʗʘʙʚʛʜʝʞʟʠʡʢʣʤʥʦʧʨẀẁẂẃẄẅỲỳﬁﬂ</h2>

<br>

<h1>其它文字</h1>

<br>

<h2>ЁЙЦУКЕНГШЩЗХЪФЫВА</h2>
<h2>ПРОЛДЖЭЯЧСМИТЬБЮ</h2>
<h2>ёйцукенгшщзхъфыва</h2>
<h2>пролджэячсмитьбю</h2>

<br>

<h2>ЉЊЕРТЅУИОПШЃЖАСД</h2>
<h2>ФГХЈКЛЧЌЗЏЦВБНМ</h2>
<h2>љњертѕуиопшѓжасд</h2>
<h2>фгхјклчќзџцвбнм</h2>

<h2>ºªçÇñÑèéÈÉöÖàäÄÀùµğĞüÜşŞiİøØæÆåÅ</h2>
<h2>ĄČĘĖĮŠŲŪŽąčęėįšųūžþÞőŐűŰóÓšŠđĐžŽ</h2>
<h2>ěřýáíúäňôťľăĂîÎâÂşŞţŢġĠħĦčČćĆ</h2>

<br>

<h2>ԱԲԳԴԵԶԷԸԹԺԻԼԽԾԿՀՁՂՃՄՅՆՇՈՉՊՋՌՍՎՏՐՑՒՓՔՕՖ </h2>
<h2>ա բ գ դ ե զ է ը թ ժ ի լ խ ծ կ հ ձ ղ ճ մ յ ն շ ո</h2>
<h2>չ պ ջ ռ ս վ տ ր ց ւ փ ք օ ֆ և ։ ﬓ ﬔ ﬕ ﬖ ﬗ՛ ՜ ՝ ՞ ՟</h2>
<h2></h2>

<br>

<h2>א ב ג ד ה ו ז ח ט י ך כ ל ם מ ן נ ס ע ף פ ץ צ ק ר ש ת</h2>
<h2>בּ גּ דּ הּ וּ זּ טּ יּ ךּ כּ לּ מּ נּ סּ ףּ פּ צּ קּ רּ שּ תּ וֹ בֿ כֿ פֿ ﭏ ﭏ</h2>
<h2>שׁ שׂ שּׁ שּׂ אַ אָ אּ</h2>
<h2>װ ױ ײ ׳ ״ ﬞ ײַ ﬠ ﬡ ﬢ ﬣ ﬤ ﬥ ﬦ ﬧ ﬨ ﬩</h2>

<br>

<h2>ႠႡႢႣႤႥႦႧႨႩႪႫႬႭႮႯႰႱႲ</h2>
<h2>ႳႴႵႶႷႸႹႺႻႼႽႾႿჀჁჂჃჄჅ</h2>
<h2>აბგდევზთიკლმნოპჟრსტუფქღყშჩცძწჭხჯჰჱჲჳჴჵჶ჻</h2>

<br>

<h2>ກຂຄງຈຊຍດຕຖທນບປຜຝພຟມຢຣລວ</h2>
<h2>ສຫອຮຯະັາຳິີຶືຸູົຼຽເແໂໃໄ</h2>
<h2>ໆ່້໊໋໌ໍ໐໑໒໓໔໕໖໗໘໙ໜໝ</h2>

<br>

<h2>กขฃคฅฆงจฉชซฌญฎฏฐฑฒณดตถทธนบปผฝพฟภมย</h2>
<h2>รฤลฦวศษสหฬอฮฯะัาำิีึืฺุู฿เแโใไๅๆ็่้๊๋์ํ๎๏๐๑๒๓๔๕๖๗๘๙๚๛</h2>

<br>

<h2>ംഃഅആഇഈഉഊഋഌഎഏഐഒഓഔകഖഗ</h2>
<h2>ഘങചഛജഝഞടഠഡഢണതഥദധനപഫ</h2>
<h2>ബഭമയരറലളഴവശഷസഹാിീുൂൃെേൈ</h2>
<h2>ൊോൌ്ൗൠൡ൦൧൨൩൪൫൬൭൮൯</h2>

<br>

<h2>ಂಃಅಆಇಈಉಊಋಌಎಏಐಒಓಔಕಖಗಘಙಚಛ</h2>
<h2>ಜಝಞಟಠಡಢಣತಥದಧನಪಫಬಭಮಯ</h2>
<h2>ರಱಲಳವಶಷಸಹಾಿೀುೂೃೄೆೇೈೊ</h2>
<h2>ೋೌ್ೕೖೞೠೡ೦೧೨೩೪೫೬೭೮೯</h2>

<br>

<h2>ఁంఃఅఆఇఈఉఊఋఌఎఏఐఒఓఔకఖగఘఙచఛ</h2>
<h2>జఝఞటఠడఢణతథదధనపఫబభమ</h2>
<h2>యరఱలళవశషసహాిీుూృౄెేైొోౌ్</h2>
<h2>ౕౖౠౡ౦౧౨౩౪౫౬౭౮౯౯</h2>

<br>

<h2>ஂஃஅஆஇஈஉஊஎஏஐஒஓஔகஙச</h2>
<h2>ஜஞடணதநனபமயரறலளழவஷ</h2>
<h2>ஸஹாிீுூெேைொோ</h2>
<h2>ௌ்ௗ௧௨௩௪௫௬௭௮௯௰௱௲</h2>

<br>

<h2>ଁଂଃଅଆଇଈଉଊଋଌଏଐଓଔକଖଗଘଙଚଛଜଝଞଟଠଡ</h2>
<h2>ଢଣତଥଦଧନପଫବଭମଯରଲଳଶଷସହ଼ଽାିୀୁ</h2>
<h2>ୂୃେୈୋୌ୍ୖୗଡ଼ଢ଼ୟୠୡ୦୧୨୩୪୫୬୭୮୯୰</h2>

<br>

<h2>ઁંઃઅઆઇઈઉઊઋઍએઐઑઓઔકખગઘ</h2>
<h2>ઙચછજઝઞટઠડઢણતથદધન</h2>
<h2>પફબભમયરલળવશષસહ઼ઽાિીુૂૃૄૅેૈ</h2>
<h2>ૉોૌ્ૐૠ૦૧૨૩૪૫૬૭૮૯</h2>

<br>

<h2>ਂਅਆਇਈਉਊਏਐਓਔਕਖਗਘਙਚਛਜਝਞਟਠਡਢ</h2>
<h2>ਣਤਥਦਧਨਪਫਬਭਮ</h2>
<h2>ਯਰਲਲ਼ਵਸ਼ਸਹ਼ਾਿੀੁੂੇੈੋੌ੍ਖ਼ਗ਼ਜ਼ੜਫ਼੦੧੨੩੪</h2>
<h2>੫੬੭੮੯ੰੱੲੳੴ</h2>

<br>

<h2>ঁংঃঅআইঈউঊঋঌএঐওঔকখগঘঙচছজঝঞটঠডঢণতথদধনপফবভমযরলশ</h2>
<h2>ষসহ়ািীুূৃৄেৈোৌ্ৗড়ঢ়য়ৠৡৢৣ০১২৩৪৫৬৭৮৯ৰৱ৲৳৴৵৶৷৸৹৺</h2>

<br>

<h2>ँंःअआइईउऊऋऌऍऎएऐऑऒओऔकखगघङच</h2>
<h2>छजझञटठडढणतथदधनऩपफबभमयरऱल</h2>
<h2>ळऴवशषसह़ऽािीुूृॄॅॆेैॉॊोौ्ॐ॒॑</h2>
<h2>॓॔क़ख़ग़ज़ड़ढ़फ़य़ॠॡॢॣ।॥०१२३४५६७८९॰</h2>

<br>

<h2>،؛؟ءآأؤإئابةتثجحخدذرزسشصضطظعغـفقكلمنهوىيًٌٍَُِّْ٠١٢٣٤٥٦٧٨٩٪٫٬٭</h2>
<h2>ٰٱٲٳٴٵٶٷٸٹٺٻټٽپٿڀځڂڃڄڅچڇڈډڊڋڌڍڎڏڐڒړڔڕږڗژڙښڛڜڝڞڟ</h2>
<h2>ڠڡڢڣڤڥڦڧڨکڪګڬڭڮگڰڱڲڳڴڵڶڷںڻڼڽھۀہۂۃۄۅۆۇۈۉۊۋیۍێېۑےۓ۔ە</h2>
<h2>۰۱۲۳۴۵۶۷۸۹</h2>

ְֱֲֳ֑֖֛֣֤֥֦֧֪֚֭֮֒֓֔֕֗֘֙֜֝֞֟֠<br>

ִֵֶַָֹֻּֽ<h2>־ֿ׀ׁׂ׃ׄאבגדהוזחטיךכלםמןנס</h2>

<br>

<h2>עףפץצקרשװױײ׳״ﬞײַﬠﬡﬢﬣﬤﬥﬦﬧﬨ﬩שׁשׂשּׁשּׂאַאָאּבּגּדּהּוּזּטּיּךּכּלּמּנּסּ</h2>

<br>

<h2>ףּפּצּקּרּשּתּוֹבֿכֿפֿﭏ</h2>

<br>

<h2>۲ ۳ ۴ ۵ ۶ ۷ ۸ ۹ ۰ - = ÷ ! ٬ ٫ ٪ × « »</h2>
<h2>ض ص ث ق ف غ ع ه خ ح ج چ ْ  ٌ ٍ ً  ُ ِ َ  ّ څ ځ   </h2>
<h2>ش س ی ب ل ا ت ن م ک ګ ښ ﺉ ي پ أ آ ټ ڼ ة : ؛</h2>
<h2>ۍ ې ز ر ذ د ړ و ږ / ظ ط ژ ء ‌ ډ ؤ ، . ؟</h2>

<br>

<h1>国际音标、注音符号</h1>

<br>

<h2>p　b　t　d　ʈ　ɖ　c　ɟ　k　ɡ　q　ɢ　ʔ</h2>
<h2>m　ɱ　n　ɳ　ɲ　ŋ　ɴ　ʙ　r　ʀ　*ⱱ　ɾ　ɽ</h2>
<h2>ɸ　β　f　v　θ　ð　s　z　ʃ　ʒ　ʂ　ʐ　ç　ʝ</h2>
<h2>x　ɣ　χ　ʁ　ħ　ʕ　h　ɦ</h2>
<h2>ɬ　ɮ　ʋ　ɹ　ɻ　j　ɰ　l　ɭ　ʎ　ʟ　ʘ　ɓ</h2>
<h2>’　ǀ　ɗ　p’　ǂ　ɠ　k’　ǁ　ʛ　s’　i　y　ɨ　ʉ</h2>
<h2>ɯ　u　ɪ　ʏ　ʊ　e　ø　ɘ　ɵ　ɤ　o　ə　ɛ　œ　ɜ　ɞ</h2>
<h2>ʌ　ɔ　æ　ɐ　a　ɶ　ɑ　ɒ</h2>
<h2>ʍ   ɕ   ʑ   w   ɺ</h2>
<h2>ɥ   ɧ   ʃ   ʜ   ʢ   ͡   ʡ   ˈ</h2>
<h2>ˌ   ˈ   ˌ ˘　. ̥</h2>
<h2> ̤   ̪   ̬   ̰   ̺  ʰ    ̼   ̻</h2>
<h2> ̹  ʷ   ̃    ̜  ʲ   ⁿ    ̟  ˠ</h2>
<h2>ˡ    ̠  ˤ    ̚   ̈   ̴  ɫ    ̽</h2>

<br>

<h2>İ　аr　Ο　u　ɝ　ɪ　ʌ/а　Ɔ　Ʋ　ə/ɚ　ɛ　æ</h2>
<h2>аɪ　e　Ɔɪ　ɪr　ɛr　Ʋr　Ο　аƲ</h2>
<h2>p　t　k　f　s　θ　ʃ　ʧ</h2>
<h2>b　d　g　v　z　ð　ʒ　ʤ</h2>
<h2>m　n　ŋ　h　r　l　w　j</h2>

<br>

<h2>ㄅㄆㄇㄈ　ㄉㄊㄋㄌ　ㄍㄎㄏ　ㄐㄑㄒ　ㄓㄔㄕㄖ　ㄗㄘㄙ</h2>
<h2>ㄚㄛㄜㄝ　ㄞㄟㄠㄡ　ㄢㄣㄤㄥ　ㄦ</h2>
<h2>ㄧㄨㄩ　　ㄪㄬㄫ　¯ˊˇˋ˙</h2>

<br>

<h2>〱〲〳〴〵〶 〷 ഇ ੴ εїз ಇ இ</h2> 
<h2>〠 〆 ∽ೀφ〄ூౄீஓஜܜ ܤ</h2>
<h2>ಠิ</h2>