<div class="row" ng-controller="OptionalDetailapplianceIndexCtrl">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>区域:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexDstrict">
            </div>"
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>用户:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexUser" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>用途:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexPurpose" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>器具名称:&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexAppliance" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>检定日期:&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexCheckTime" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>检定单位:&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexCheckUnit" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>状态:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="optionalDetailapplianceIndexStatus" type="text">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="optionalDetailapplianceIndexTable">
        </table>
    </div>
</div>
<div id="dd">
    <table id="optionalDetailapplianceIndex_detail_table"></table>
</div>
