<ui-view>
    <form class="form-horizontal ng-pristine ng-valid" ng-submit = "reload()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-value = "params.years">
                    <label class="col-sm-4 control-label">年度：</label>
                    <div class="col-sm-8">
                        <yunzhi-multi-year ng-model="params.years"></yunzhi-multi-year>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group"  ng-value = "params.district">
                    <label class="col-sm-4 control-label">区域：</label>
                    <div class="col-sm-8">
                        <yunzhi-district ng-model="params.district" ></yunzhi-district>
                    </div>
                </div>
            </div>

            <div class="col-md-4" ng-hide="hideDepartment">
                <div class="form-group">
                    <label class="col-sm-4 control-label">器具用户：</label>
                    <div class="col-sm-8">
                        <yunzhi-instrument-user data-config="{departmentType: '器具用户'}" data-district="params.district" ng-model="params.department"></yunzhi-instrument-user>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用途：</label>
                    <div class="col-sm-8">
                        <yunzhi-purpose ng-model="params.purpose"></yunzhi-purpose>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">器具名称</label>
                    <div class="col-sm-8">
                        <yunzhi-instrument-name ng-model="params.instrumentName"></yunzhi-instrument-name>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">生产单位</label>
                    <div class="col-sm-8">
                        <yunzhi-generative-department ng-model = "params.generativeDepartment"></yunzhi-generative-department>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i>&nbsp;&nbsp;查询
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <!-- 一级模板 -->
            <div class="table-responsive">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="DataTables_Table_0_wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>年度</th>
                            <th>省</th>
                            <th>市</th>
                            <th>县</th>
                            <th>器具用户</th>
                            <th>用途</th>
                            <th>器具名称</th>
                            <th>生产企业</th>
                            <th>受检总数</th>
                            <th>合格数</th>
                            <th>检定合格率</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-hide="dataBack" ng-repeat="data in datas">
                            <td>{{data.year}}</td>
                            <td>{{data.district | yunzhiDistrictName : 'sheng'}}</td>
                            <td>{{data.district | yunzhiDistrictName : 'shi'}}</td>
                            <td>{{data.district | yunzhiDistrictName : 'quxian'}}</td>
                            <td>{{data.department.name | nullDataFilter}}</td>
                            <td>{{backPurse.name | nullDataFilter}}</td>
                            <td>{{backIntrumentType.name | nullDataFilter}}</td>
                            <td>{{backGenerativeDepartment.name | nullDataFilter}}</td>
                            <td>{{data.sum}}</td>
                            <td>{{data.qualifiedNumber}}</td>
                            <td>{{data.qualifiedNumber/data.sum | percent}}</td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" ng-hide="hideChart">
            <yunzhi-chart-bar data-chart-name = "chartName" data-chart-xdata="chartXData" data-chart-ymax="chartYMax" data-chart-ymin="chartYMin" data-chart-dar="chartDarData"></yunzhi-chart-bar>
        </div>
    </div>
</ui-view>
