<div class="dt-buttons btn-group">
    <a class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0"
    aria-controls="DataTables_Table_0">
        <span>Copy</span>
    </a>
    <a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0"
    aria-controls="DataTables_Table_0">
        <span>CSV</span>
    </a>
    <a class="btn btn-default buttons-pdf buttons-html5 btn-sm" tabindex="0"
    aria-controls="DataTables_Table_0">
        <span>PDF</span>
    </a>
    <a class="btn btn-default buttons-print btn-sm" tabindex="0"
    aria-controls="DataTables_Table_0">
        <span>Print</span>
    </a>
</div>
