<!--测量范围-->
<ui-select ng-model="measuringRange.selected" theme="bootstrap" ng-change="updateModel(measuringRange.selected)">
    <ui-select-match placeholder="请选择">{{$select.selected.value}}</ui-select-match>
    <ui-select-choices repeat="measuringRange in measuringRanges  | orderBy: 'weight' track by measuringRange.id  | propsFilter: {value: $select.search, pinyin: $select.search}">
        <div ng-bind-html="measuringRange.value | highlight:$select.search"></div>
    </ui-select-choices>
</ui-select>
